In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
import seaborn as sns 
#import matplotlib.pylab as plt
import numpy as np
%matplotlib inline
from numpy import std, mean

import sklearn
from sklearn import datasets, linear_model, metrics
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler, PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [2]:
df=pd.read_csv("C:/Users/jpadmanabhan/Downloads/advertising.csv")
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [3]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [4]:
x = df.drop('Sales', axis=1)
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [5]:
y = df['Sales']
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=20)

In [7]:
lr = LinearRegression()
rf = RandomForestRegressor(max_depth=5, random_state=2) #increase max_depth for better accuracy
br = linear_model.BayesianRidge()

x_train1 = x_train
y_train1 = y_train
x_test1 = x_test
y_test1 = y_test

x_train2 = x_train
y_train2 = y_train
x_test2 = x_test
y_test2 = y_test

x_train3 = x_train
y_train3 = y_train
x_test3 = x_test
y_test3 = y_test


x_train1, y_train1 = make_regression(n_samples=200, n_features=9, n_informative=20, noise=0.5, random_state=2)
x_test1, y_test1 = make_regression(n_samples=200, n_features=9, n_informative=20, noise=0.5, random_state=2)

x_train2, y_train2 = make_regression(n_samples=200, n_features=9, n_informative=20, noise=0.5, random_state=2)
x_test2, y_test2 = make_regression(n_samples=200, n_features=9, n_informative=20, noise=0.5, random_state=2)

x_train3, y_train3 = make_regression(n_samples=200, n_features=9, n_informative=20, noise=0.5, random_state=2)
x_test3, y_test3 = make_regression(n_samples=200, n_features=9, n_informative=20, noise=0.5, random_state=2)

In [8]:
lr.fit(x_train1, y_train1)

LinearRegression()

In [9]:
y_predLR = lr.predict(x_test1)
r2scoreLR = r2_score(y_test1, y_predLR)
r2scoreLR

0.9999928318262162

In [10]:
rf.fit(x_train2, y_train2)

RandomForestRegressor(max_depth=5, random_state=2)

In [11]:
y_predRFR = rf.predict(x_test2)
r2scoreRFR = r2_score(y_test2, y_predRFR)
r2scoreRFR

0.8839780779370845

In [12]:
br.fit(x_train3, y_train3)

BayesianRidge()

In [13]:
y_predBR = br.predict(x_test3)
r2scoreBR = r2_score(y_test3, y_predBR)
r2scoreBR

0.9999928318260992